*{
    margin: 0;
    box-sizing: border-box;
}
h1{
    font-family: "Lato";
}
header{
    text-align: center;
    margin: 35px;
    font-size: 44px;
}
section{
    text-align: center;
    margin: 50px;
    padding: 25px;
    font-family: "Lato", sans-serif;
}
hr{
    margin: 50px;
}
ul, ol{
    display: inline-block;
    text-align: left;
    vertical-align: middle;
    padding: 8px;
    
}
section table{
    margin-left: auto;
    margin-right: auto;
}
footer{
    text-align: center;
    margin: 20px;
}
footer img{
    margin: 80px;
}
section h3,h2{
    font-size: 28px;
    margin: 10px;
}
h3{
    font-size: 40px;
    font-family: "Lato";
}